.Logotipo
{
  background-image: 10px;  
}
.fundofixo{
  background: url('../images/GZ.png') no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;   
}
.fundo-rodape{
  background-color: rgba(255,255,255,0.8);
}
.Body-Color
{
  background-color: black;
}
.container {
  position: relative;
  height: 100vh;
}
.h3-1 {
  font-size: 21px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-2 {
  font-size: 21px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h1-1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  position: relative;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.button1{
  background-color: #3a0448;
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.elemento {
  background-image: url('../images/Lougetch.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
  height: 550px;
}
.h4-1 {
  font-size: 11px;
  position: relative;
  top: 60%;
  left: 11%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  position: relative;
  top: 63%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h1-2 {
  color: #1f2025;;
  font-size: 18px;
  position: relative;
  top: 72%;
  left: 58%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.button2{
  background-color: #3a0448;
  position: relative;
  top: 72%;
  left: 13%;
  transform: translate(-50%, -50%);
}
.img-1{
  position: relative;
  width: 400px;
  top: 50%;
  left: 80%;
  transform: translate(-60%, 35%);
}
.h3-4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  top: 510px;
  left: 330px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  top: 450px;
  left: 553px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  top: 376px;
  left: 805px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-7 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  top: 342px;
  left: 1059px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h3-8 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  position: relative;
  top: 307px;
  left: 1350px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: 390px;
  left: 330px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: 220px;
  left: 553px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: 135px;
  left: 805px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: -7px;
  left: 1059px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  top: -42px;
  left: 1350px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  position: relative;
  top: -530px;
  left: 850px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h2-7 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17px;
  position: relative;
  top: -680px;
  left: 850px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fundoinicio{
  background-color: #3a0448;   
}
.Img-Prod{
border-radius:15%;
background-position: top center;
left: 15px;
  position: relative;
}
.Img-Cor{
border-radius:15%;
background-position: top center;

}
.h1-Prod
{
  left: 68px;
  position: relative;
  color: blue;
}