.Logotipo
{
  background-image: 10px;  
}

/* nav 
{
  text-decoration: none;
  background: none;
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 39, 45)
} */

/* ul {

  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
.fundofixo{
  background: url('../images/GZ.png') no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;    
}
/* #menu li a{
  text-decoration: none;
} */
.fundo-rodape{
  background-color: rgba(255,255,255,0.8);
}
.Body-Color
{
  background-color: black;
}
.body-inicio{
  background-image: url(../images/jg.jpg);
}
