
.fundofixo{
    background: url('../images/Fundo/Fundo.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
   }
   .Img-Prod{
  border-radius:15%;
  
  }
  .Img-Cor{
  border-radius:15%;
  }
  .h1-Prod
  {
    left: 68px;
    position: relative;
    color: blue;
  }
  .img-Logo
  {
      width: 110px;
      position: relative;
  }
  @media screen and (max-width: 100px) {
        
     
    .img-lg {
        width: 60%;
        height: 100%;

    }

    .img-lg-rodapé {
        width: 60%;
        height: 100%;
        position: relative;
        left: 290px;
        top: 20px;
    }
}
    .fundo {
        /* background-image: linear-gradient(to right, rgb(0, 11, 12), rgb(10, 11, 12), rgb(0, 11, 12)); */
        background: #0b212d;
    }

    .map-container {
        height: 400px;
    }
    iframe
    {
        margin: 20px 6px;
    }
    .close 
    {                 
    text-decoration: none;
    }
    .siga
    {
        font-size: 30px;

    }
    .link
    {
        font-size: 30px;

    }
    .endereco
    {
        font-size: 30px;
    }
    .titulo
    {
        color: #0b212d;
        font-size: 20px;
        font-weight: 1000
    }
    .descricao
    {
    
        font-size: 20px;
        font-weight: 200;
    }
    .valor
    {
        font-size: 20px;
        font-weight: 700;
    }
    #corujao
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 15px;
    }
    .espaco
    {
        background-color: aliceblue;
        border-radius: 4%;
        align-items: center ;
    }
    .espaco h1{
        font-size: 50px;
        color: #0b212d;
        font-weight: 700;
    }
    .espaco p{
        font-size: 30px;

    }
